<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set up your recipe search</title>
</head>
<body>
    <form action="http://localhost:8082/searchbyname" method="POST">
        <div class="form-field">
            Type the recipe name you want to look for.
            <input type="text" class="input" name="keywords">
            <br>
            <input type="submit" name="submit">
        </div>
    </form>
</body>
</html>